@import "~bulma";
@import "transactionReport";
@import "receiptPreview";
@import "staffColors";
@import "dataList";
@import "cashiers";

.red-color {
    color: red !important;
}

.black-color {
    color: black !important;
}

.product-list-item {
    padding: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    user-select: none;
    cursor: pointer;

    .title {
        flex-grow: 1;
        margin-bottom: 0;
        font-weight: bold;
    }

    .stock {
        flex-grow: 0;
    }
}

.panel.order-info { 

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .panel-block {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .item-name-col {
        font-weight: bold;
        vertical-align: middle;
        font-size: 1.2rem;
    }

    .item-subtotal-col {
        font-weight: bold;
        vertical-align: middle;
        font-size: 1.2rem;
    }

    .table.product-list  td {
        vertical-align: middle;
    }
}

.close-button {
    @include delete;
    $dimension-large: roundToEvenNumber(2 * removeUnit($size-6) * removeUnit($size-large)) * 1px;
    height: $dimension-large !important;
    width: $dimension-large !important;
    user-select: none;
    cursor: pointer;

    &::before {
        background-color: red;
    }
    &::after {
        background-color: red;
    }
}

.button.is-active.language-toggle {
    background-color: gray !important;
}